body {
    background-color: #69D1C5;
}
  
  .chat {
    text-align: center;
    
  }
  
  .chat-link {
    color: #61dafb;
  }
  
  .container {
    align-items: center;
    width: 100%;
  }
  
  #content-chat{
    height: 100%;
    overflow-y: scroll;
  }
  
  #nickname{
    width: 8em;
  }

  #altura{
    height: 180px;
  }
  
  @media only screen and (max-width: 1000px) {
    .container {
      width: 100%;
    }
  }